body{
    background-color: #F2F0EA;
    font-family:Georgia,serif;
    color: #1A1A1A;
}

h1{
    color: #58988E;
    font-size: 2.5rem;
}

header{
    padding: 1.5rem  2rem;
    border-bottom: 1px solid  #1A1A1A;
    background-color: chocolate;
}
nav a{
    color: #58988E;
}
main{
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.metodo-titulo{
    font-size: 3.1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.25em;
    color: #58988E;
}

.precio{
    font-weight: bold;
    color: #58988E;
}

footer{
    border-top: 2.5rem;
    padding: 1.5px;
}

#contador-tazas{
    font-size: 1.5rem;
    font-weight: bold;
    color: #58988e;
}
#boton-reservar{
    display: block;
    margin-top:1rem;
    padding: 0.5rem 1.25rem;
    background-color: #58988e;
    color: #F2F8EA;
    border: none;
    font-family:Georgia,serif ;
    font-size:1rem;
    cursor: pointer;
}